<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suzanne Milligan</title>
    <!--    link to bootstrap external stylesheet-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<!--        internal style sheet  -->
    <link rel=stylesheet type="text/css" href="{{url_for('static', filename='style.css') }}">
<!--    link to google icon fonts for the email logo -->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Global site tag (gtag.js) - Google Analytics -->

</head>
<body>
<!--    start of container for main content, flex grow 1 makes it fill the whole page, thus pushing the footer to the bottom-->
    <main class="flex-grow-1" id="homebox">
    <div class = container id ="wrapping">
        <div class ="container-md" id="home_content">
             {% block content %}
             {% endblock %}

        </div>
    </div>
    </main>
</body>

</html>